<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Magictrail</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
     <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=607ff122ee6b31001885e154&product=sticky-share-buttons' async='async'></script> -->
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=60800617d4b7d50019ef82ee&product=inline-share-buttons' async='async'></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
  			     <span class="navbar-toggler-icon"></span>
  				</button>
                <a class="navbar-brand" href="/"></a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul style="padding: 50px;" class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li style="float: left;"><img src="images/logo1.png" width="100px" height="35px"></li>
                        <!-- <li style="float:left;" class="nav-item active">
                            <a class="nav-link" href="/">About<span class="sr-only">(current)</span></a>
                        </li> -->
 
                        <li style="float:left" class="nav-item">
                            <a class="nav-link" href="/admin" tabindex="-1" aria-disabled="true">Page Management</a>
                        </li>
                        <li style="float:left;" class="nav-item active">
                            <a class="nav-link" href="/">About<span class="sr-only">(current)</span></a>
                        </li>
                        <li style="float:right;" class="nav-item active">
                            <a class="nav-link" href="/dashboard" tabindex="-1" aria-disabled="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                              </svg></a>
                        </li>
                        <li style="float:right;" class="nav-item active">
                            <a class="nav-link" href="/" tabindex="-1" aria-disabled="true"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--container-->
        </nav>
    </header>
    <!--  ---------------------------------- FILTER-------------------------------------------- -->

       <div class="s011" style="background-image: url(&quot;https://images.unsplash.com/photo-1511497584788-876760111969?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80&quot;);">
        <form action="/search" method="POST" >
        <div class="inner-form">
        <header>
        <div class="travel-type-wrap">
        <div class="item active">
        <div class="group-icon">
        <svg class="svg-inline--fa fa-building fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="building" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M436 480h-20V24c0-13.255-10.745-24-24-24H56C42.745 0 32 10.745 32 24v456H12c-6.627 0-12 5.373-12 12v20h448v-20c0-6.627-5.373-12-12-12zM128 76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76zm0 96c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40zm52 148h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12zm76 160h-64v-84c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v84zm64-172c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40z"></path>
        </svg>
        </div>
        <span>HOTEL ONLY</span>
        </div>
        <div class="item">
        <div class="group-icon">
        <svg class="svg-inline--fa fa-building fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="building" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M436 480h-20V24c0-13.255-10.745-24-24-24H56C42.745 0 32 10.745 32 24v456H12c-6.627 0-12 5.373-12 12v20h448v-20c0-6.627-5.373-12-12-12zM128 76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76zm0 96c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40zm52 148h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12zm76 160h-64v-84c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v84zm64-172c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40z"></path>
        </svg>
        <svg class="svg-inline--fa fa-plane fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="plane" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
        <path fill="currentColor" d="M480 192H365.71L260.61 8.06A16.014 16.014 0 0 0 246.71 0h-65.5c-10.63 0-18.3 10.17-15.38 20.39L214.86 192H112l-43.2-57.6c-3.02-4.03-7.77-6.4-12.8-6.4H16.01C5.6 128-2.04 137.78.49 147.88L32 256 .49 364.12C-2.04 374.22 5.6 384 16.01 384H56c5.04 0 9.78-2.37 12.8-6.4L112 320h102.86l-49.03 171.6c-2.92 10.22 4.75 20.4 15.38 20.4h65.5c5.74 0 11.04-3.08 13.89-8.06L365.71 320H480c35.35 0 96-28.65 96-64s-60.65-64-96-64z"></path>
        </svg>
        </div>
        <span>HOTEL + FLIGHT</span>
        </div>
        <div class="item">
        <div class="group-icon">
        <svg class="svg-inline--fa fa-building fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="building" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M436 480h-20V24c0-13.255-10.745-24-24-24H56C42.745 0 32 10.745 32 24v456H12c-6.627 0-12 5.373-12 12v20h448v-20c0-6.627-5.373-12-12-12zM128 76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76zm0 96c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40zm52 148h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12zm76 160h-64v-84c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v84zm64-172c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40z"></path>
        </svg>
        <svg class="svg-inline--fa fa-plane fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="plane" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
        <path fill="currentColor" d="M480 192H365.71L260.61 8.06A16.014 16.014 0 0 0 246.71 0h-65.5c-10.63 0-18.3 10.17-15.38 20.39L214.86 192H112l-43.2-57.6c-3.02-4.03-7.77-6.4-12.8-6.4H16.01C5.6 128-2.04 137.78.49 147.88L32 256 .49 364.12C-2.04 374.22 5.6 384 16.01 384H56c5.04 0 9.78-2.37 12.8-6.4L112 320h102.86l-49.03 171.6c-2.92 10.22 4.75 20.4 15.38 20.4h65.5c5.74 0 11.04-3.08 13.89-8.06L365.71 320H480c35.35 0 96-28.65 96-64s-60.65-64-96-64z"></path>
        </svg>
        <svg class="svg-inline--fa fa-car fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="car" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor" d="M499.99 176h-59.87l-16.64-41.6C406.38 91.63 365.57 64 319.5 64h-127c-46.06 0-86.88 27.63-103.99 70.4L71.87 176H12.01C4.2 176-1.53 183.34.37 190.91l6 24C7.7 220.25 12.5 224 18.01 224h20.07C24.65 235.73 16 252.78 16 272v48c0 16.12 6.16 30.67 16 41.93V416c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-32h256v32c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-54.07c9.84-11.25 16-25.8 16-41.93v-48c0-19.22-8.65-36.27-22.07-48H494c5.51 0 10.31-3.75 11.64-9.09l6-24c1.89-7.57-3.84-14.91-11.65-14.91zm-352.06-17.83c7.29-18.22 24.94-30.17 44.57-30.17h127c19.63 0 37.28 11.95 44.57 30.17L384 208H128l19.93-49.83zM96 319.8c-19.2 0-32-12.76-32-31.9S76.8 256 96 256s48 28.71 48 47.85-28.8 15.95-48 15.95zm320 0c-19.2 0-48 3.19-48-15.95S396.8 256 416 256s32 12.76 32 31.9-12.8 31.9-32 31.9z"></path>
        </svg>
        </div>
        <span>HOTEL + FLIGHT + CAR</span>
        </div>
        <div class="item">
        <div class="group-icon">
        <svg class="svg-inline--fa fa-building fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="building" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path fill="currentColor" d="M436 480h-20V24c0-13.255-10.745-24-24-24H56C42.745 0 32 10.745 32 24v456H12c-6.627 0-12 5.373-12 12v20h448v-20c0-6.627-5.373-12-12-12zM128 76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76zm0 96c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40zm52 148h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12zm76 160h-64v-84c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v84zm64-172c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40zm0-96c0 6.627-5.373 12-12 12h-40c-6.627 0-12-5.373-12-12V76c0-6.627 5.373-12 12-12h40c6.627 0 12 5.373 12 12v40z"></path>
        </svg>
        <svg class="svg-inline--fa fa-car fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="car" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor" d="M499.99 176h-59.87l-16.64-41.6C406.38 91.63 365.57 64 319.5 64h-127c-46.06 0-86.88 27.63-103.99 70.4L71.87 176H12.01C4.2 176-1.53 183.34.37 190.91l6 24C7.7 220.25 12.5 224 18.01 224h20.07C24.65 235.73 16 252.78 16 272v48c0 16.12 6.16 30.67 16 41.93V416c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-32h256v32c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-54.07c9.84-11.25 16-25.8 16-41.93v-48c0-19.22-8.65-36.27-22.07-48H494c5.51 0 10.31-3.75 11.64-9.09l6-24c1.89-7.57-3.84-14.91-11.65-14.91zm-352.06-17.83c7.29-18.22 24.94-30.17 44.57-30.17h127c19.63 0 37.28 11.95 44.57 30.17L384 208H128l19.93-49.83zM96 319.8c-19.2 0-32-12.76-32-31.9S76.8 256 96 256s48 28.71 48 47.85-28.8 15.95-48 15.95zm320 0c-19.2 0-48 3.19-48-15.95S396.8 256 416 256s32 12.76 32 31.9-12.8 31.9-32 31.9z"></path>
        </svg>
        </div>
        <span>HOTEL + CAR</span>
        </div>
        </div>
        </header>
        <div class="main-form" id="main-form">
        <div class="row">
        <div class="input-wrap">
        <div class="icon-wrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
        </svg>
        </div>
        <div class="input-field">
        <label>GOING TO</label>
        <input type="text" name="destination" id="destination" placeholder="Destination, hotel name" />
        </div>
        </div>
        </div>
        <div class="row second">
        <div class="input-wrap">
        <div class="icon-wrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"></path>
        </svg>
        </div>
        <div class="input-field">
        <label>CHECK-IN</label>
        <input class="datepicker" type="text"  name="checkin" id="checkin"placeholder="dd/mm/yy" />
        </div>
        </div>
        <div class="input-wrap">
        <div class="icon-wrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
        </svg>
        </div>
        <div class="input-field">
        <label>CHECK-OUT</label>
        <input class="datepicker" type="text"  name="checkout" id="checkout"placeholder="dd/mm/yyyy" />
        </div>
        </div>
        <div class="input-wrap">
        <div class="icon-wrap">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
        </svg>
        </div>
        <div class="input-field">
        <label>TRAVELERS</label>
        <div class="input-select">
        <select data-trigger="" name="choices" id="choices">
        <option placeholder="">1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
         </select>
        </div>
        </div>
        </div>
        </div>
        <div class="row third">
        <div class="input-checkbox-group">
        <div class="input-checkbox">
        <input id="yes" type="checkbox" name="flight" value="yes" checked="checked" />
        <label for="yes">ADD A FLIGHT</label>
        </div>
        <div class="input-checkbox">
        <input id="no" type="checkbox" name="car" value="yes"/>
        <label for="no">ADD A CAR</label>
        </div>
        </div>
        </div>
        <div class="row last">
        <button class="btn-search" type="submit">Search</button>
        </div>
        </div>
        </div>
        </form>
        </div>
        <script src="js/choices.js"></script>
        <script>
              const choices = new Choices('[data-trigger]',
              {
                searchEnabled: false,
                itemSelectText: '',
              });
        
            </script>
        <script src="js/flatpickr.js"></script>
        <script>
              flatpickr(".datepicker",
              {
                dateFormat: "d/m/20y"
              });
              var btnTypes = document.querySelectorAll('.travel-type-wrap .item')
              var mainForm = document.getElementById('main-form')
              for (let i = 0; i < btnTypes.length; i++)
              {
                btnTypes[i].addEventListener('click', function()
                {
                  for (let i = 0; i < btnTypes.length; i++)
                  {
                    btnTypes[i].classList.remove('active')
                  }
                  btnTypes[i].classList.add('active')
                  let className = 'type' + i
                  mainForm.className = `${className} main-form`
                })
              }
        
            </script>
        
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-23581568-13');
        </script>




      <!--  ---------------------------------- FILTER-------------------------------------------- -->
          
    <main>
        <!--Slider-->
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide mt-20" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/big_ben.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <!-- <h5>Big Ben</h5>
                            <p>London, Great Britain</p> -->
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="images/burj_khalifa.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <!-- <h5>Burj Khalifa</h5>
                            <p>Dubai, United Arab Emirates</p> -->
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="images/taj_mahal1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <!-- <h5>Taj Mahal</h5>
                            <p>Agra, India</p> -->
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div>
                <h1 style="font-family:cursive; color:darkred; margin: auto; width: 50%; padding: 10px; text-align: center;">“Life is short, and the world is wide.”</h1>
            </div>

            <!-- Cards -->
            <div class="row mt-20 list articles">

                <!--All cards on landmarks are generated automatically (dynamically)-->

            </div>
            <!--row-->
        </div>
        <!--container-->

        <!-- <div class="sharethis-sticky-share-buttons"></div> -->
        <div class="add_container">
            <a href="https://www.turkishairlines.com/" target="_blank">
                <img src="https://i.pinimg.com/564x/b2/06/63/b2066340861a5934b684227815ca7e75.jpg" width="200" height="400">
            </a>
        </div>


    </main>

    <!--Modal window of Contact Us button -->
    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contact Us</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <form class="email-request-form">
                        <div class="form-group">
                            <label for="name">Your name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="3"></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    </form>
                </div>

            </div>
        </div>
    </div>



    <footer style="background-image: linear-gradient(to bottom right,#7c8185,#020b11); height: auto;">
        <div class="container1">
            <div class="row" style="margin-bottom: 20px;">
                <ul style="list-style: none; margin-top: 30px; margin-left: 200px; padding: 15px; font-family: 'Merienda', cursive;">
                    <h3 style="list-style: none; text-align: center; font-size: 26px; font: bold; color: rgb(245, 244, 244);">
                        CONTACT US 
                    <h3>
                    <br>
                    <li style="list-style: none; text-align: center; font-size: 20px; font: bold; color: rgb(245, 244, 244); margin-bottom: 15px;">
                        <i style='font-size:24px' class='fas'>&#xf095;</i> +994 (070) 109 13 03 
                    </li>
                    <li style="list-style: none; text-align: center; font-size: 20px; font: bold; color: rgb(245, 244, 244);">
                        <i style='font-size:24px' class='far'>&#xf2b6;</i> magictrail@gmail.com
                    </li>                    
                </ul>
            <div style="margin-top: 15px; margin-left: 200px; width: 700px;">
                <H3 style="list-style: none; margin-top: 30px; text-align: center; font-size: 26px; font: bold; color:rgb(245, 244, 244);; font-family: 'Merienda', cursive;">SHARE US</H3>
                <br><br>
                <div class="sharethis-inline-share-buttons"></div>
            </div>
            </div>
        </div>
        <!--Arrow button-->
        <a id="back2Top" title="Back to top" href="#">&#10148;</a>
    </footer>
    <!-- <div class="sharethis-inline-share-buttons"></div> -->
    <!--<div class="col-6 d-flex justify-content-end align-items-center" style="margin: auto; width: 50%; padding:10p">
		<button class="btn btn-primary" id="contactUs" data-toggle="modal" data-target="#myModal">Contact Us</button>
	</div>-->



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/posts.js"></script>
    <script src="js/emails.js"></script>
    <script src="js/main.js"></script>
</body>

</html>